In [15]:
import pandas as pd
from datetime import date
import glob

In [18]:
#df =  pd.concat(map(pd.read_csv, ["../data/raw/spritpreise_2023-07.csv", 'd2.csv','d3.csv']))
files = glob.glob("../data/raw/*.csv")
df = [pd.read_csv(f) for f in files]
#df  = pd.read_csv("../data/raw/spritpreise_2023-07.csv")
df = pd.concat(df,ignore_index=True)
df.tail()

,Uhrzeit,Datum,Region,Strasse,Ort_PLZ,Tankstelle,Preis
26116,2023-08-21 10:14:44,2023-08-21,67433+Neustadt+an+der+Weinstraße&spritsorte,Landauer Str. 58-60,67434 Neustadt an der Weinstraße,JET,1.779
26117,2023-08-21 10:14:44,2023-08-21,67433+Neustadt+an+der+Weinstraße&spritsorte,Landauer Str. 8-10,67434 Neustadt an der Weinstraße,ESSO,1.799
26118,2023-08-21 10:14:44,2023-08-21,67433+Neustadt+an+der+Weinstraße&spritsorte,Mußbacher Landstr. 16,67433 Neustadt an der Weinstraße,Shell,1.859
26119,2023-08-21 10:14:44,2023-08-21,67433+Neustadt+an+der+Weinstraße&spritsorte,Landauer Str. 121,67434 Neustadt an der Weinstraße,Shell,1.859
26120,2023-08-21 10:14:44,2023-08-21,67433+Neustadt+an+der+Weinstraße&spritsorte,Branchweilerhofstr. 104,67433 Neustadt an der Weinstraße,ARAL,1.879

In [10]:
df[["PLZ","Ort"]] = df["Ort_PLZ"].str.split(' ',1, expand =True)
df['Zeit'] = df['Uhrzeit'].str.split(' ').str[1]
df[["Stunde","Minute","Sekunde"]] = df["Zeit"].str.split(':',2, expand =True)
df['Uhrzeit'] = pd.to_datetime(df['Uhrzeit'])
df['Wochentag'] = df['Uhrzeit'].dt.isocalendar().day
df.head()

,Uhrzeit,Datum,Region,Strasse,Ort_PLZ,Tankstelle,Preis,PLZ,Ort,Zeit,Stunde,Minute,Sekunde,Wochentag
0,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Eichelbergstr. 34,76189 Karlsruhe,Supermarkt Tankstelle,1.699,76189,Karlsruhe,19:25:32,19,25,32,7
1,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Hardeckstr. 16,76185 Karlsruhe,"Eberhardt, Hardeckstraße, Karlsruhe",1.709,76185,Karlsruhe,19:25:32,19,25,32,7
2,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Lameystr. 7,76185 Karlsruhe,bft,1.719,76185,Karlsruhe,19:25:32,19,25,32,7
3,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Fettweisstr. 8,76189 Karlsruhe,bft,1.719,76189,Karlsruhe,19:25:32,19,25,32,7
4,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Waldhorn Str. 14-16,76137 Karlsruhe,ZG Raiffeisen Energie,1.719,76137,Karlsruhe,19:25:32,19,25,32,7

In [11]:
#ID Erstellen über ID , indem 3 Spalten kombiniert werden
# def generate_id(row):
#     values = row[['Strasse','PLZ','Tankstelle']].values
#     value_str = ''.join(map(str, values))
#     return value_str #hashlib.sha1(value_str.encode()).hexdigest()
# df['ID'] = df.apply(generate_id, axis=1)
# df.head()

In [12]:
#Zweite möglichkeit um die IDs mit Zahlen zu erstellen
df['ID'] = df.groupby(['Strasse','PLZ','Tankstelle']).ngroup()+1
df.head()

,Uhrzeit,Datum,Region,Strasse,Ort_PLZ,Tankstelle,Preis,PLZ,Ort,Zeit,Stunde,Minute,Sekunde,Wochentag,ID
0,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Eichelbergstr. 34,76189 Karlsruhe,Supermarkt Tankstelle,1.699,76189,Karlsruhe,19:25:32,19,25,32,7,15
1,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Hardeckstr. 16,76185 Karlsruhe,"Eberhardt, Hardeckstraße, Karlsruhe",1.709,76185,Karlsruhe,19:25:32,19,25,32,7,22
2,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Lameystr. 7,76185 Karlsruhe,bft,1.719,76185,Karlsruhe,19:25:32,19,25,32,7,31
3,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Fettweisstr. 8,76189 Karlsruhe,bft,1.719,76189,Karlsruhe,19:25:32,19,25,32,7,18
4,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Waldhorn Str. 14-16,76137 Karlsruhe,ZG Raiffeisen Energie,1.719,76137,Karlsruhe,19:25:32,19,25,32,7,48

In [13]:
current_date = date.today().strftime("%Y-%m-%d")
df.head()

,Uhrzeit,Datum,Region,Strasse,Ort_PLZ,Tankstelle,Preis,PLZ,Ort,Zeit,Stunde,Minute,Sekunde,Wochentag,ID
0,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Eichelbergstr. 34,76189 Karlsruhe,Supermarkt Tankstelle,1.699,76189,Karlsruhe,19:25:32,19,25,32,7,15
1,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Hardeckstr. 16,76185 Karlsruhe,"Eberhardt, Hardeckstraße, Karlsruhe",1.709,76185,Karlsruhe,19:25:32,19,25,32,7,22
2,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Lameystr. 7,76185 Karlsruhe,bft,1.719,76185,Karlsruhe,19:25:32,19,25,32,7,31
3,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Fettweisstr. 8,76189 Karlsruhe,bft,1.719,76189,Karlsruhe,19:25:32,19,25,32,7,18
4,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Waldhorn Str. 14-16,76137 Karlsruhe,ZG Raiffeisen Energie,1.719,76137,Karlsruhe,19:25:32,19,25,32,7,48

In [14]:
df.to_csv(f'../data/prepared/prepared_{current_date}.csv')