In [15]:
import pandas as pd
from datetime import date

In [16]:
df  = pd.read_csv("../data/raw/spritpreise_2023-07.csv")
df.head()

,Uhrzeit,Datum,Region,Strasse,Ort_PLZ,Tankstelle,Preis
0,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Eichelbergstr. 34,76189 Karlsruhe,Supermarkt Tankstelle,1.699
1,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Hardeckstr. 16,76185 Karlsruhe,"Eberhardt, Hardeckstraße, Karlsruhe",1.709
2,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Lameystr. 7,76185 Karlsruhe,bft,1.719
3,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Fettweisstr. 8,76189 Karlsruhe,bft,1.719
4,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Waldhorn Str. 14-16,76137 Karlsruhe,ZG Raiffeisen Energie,1.719

In [17]:
df[["PLZ","Ort"]] = df["Ort_PLZ"].str.split(' ',1, expand =True)
df['Zeit'] = df['Uhrzeit'].str.split(' ').str[1]
df[["Stunde","Minute","Sekunde"]] = df["Zeit"].str.split(':',2, expand =True)
df['Uhrzeit'] = pd.to_datetime(df['Uhrzeit'])
df['Wochentag'] = df['Uhrzeit'].dt.isocalendar().day
df.head()

,Uhrzeit,Datum,Region,Strasse,Ort_PLZ,Tankstelle,Preis,PLZ,Ort,Zeit,Stunde,Minute,Sekunde,Wochentag
0,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Eichelbergstr. 34,76189 Karlsruhe,Supermarkt Tankstelle,1.699,76189,Karlsruhe,19:25:32,19,25,32,7
1,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Hardeckstr. 16,76185 Karlsruhe,"Eberhardt, Hardeckstraße, Karlsruhe",1.709,76185,Karlsruhe,19:25:32,19,25,32,7
2,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Lameystr. 7,76185 Karlsruhe,bft,1.719,76185,Karlsruhe,19:25:32,19,25,32,7
3,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Fettweisstr. 8,76189 Karlsruhe,bft,1.719,76189,Karlsruhe,19:25:32,19,25,32,7
4,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Waldhorn Str. 14-16,76137 Karlsruhe,ZG Raiffeisen Energie,1.719,76137,Karlsruhe,19:25:32,19,25,32,7

In [18]:
#ID Erstellen über ID , indem 3 Spalten kombiniert werden
# def generate_id(row):
#     values = row[['Strasse','PLZ','Tankstelle']].values
#     value_str = ''.join(map(str, values))
#     return value_str #hashlib.sha1(value_str.encode()).hexdigest()
# df['ID'] = df.apply(generate_id, axis=1)
# df.head()

In [19]:
#Zweite möglichkeit um die IDs mit Zahlen zu erstellen
df['ID'] = df.groupby(['Strasse','PLZ','Tankstelle']).ngroup()+1
df.head()

,Uhrzeit,Datum,Region,Strasse,Ort_PLZ,Tankstelle,Preis,PLZ,Ort,Zeit,Stunde,Minute,Sekunde,Wochentag,ID
0,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Eichelbergstr. 34,76189 Karlsruhe,Supermarkt Tankstelle,1.699,76189,Karlsruhe,19:25:32,19,25,32,7,15
1,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Hardeckstr. 16,76185 Karlsruhe,"Eberhardt, Hardeckstraße, Karlsruhe",1.709,76185,Karlsruhe,19:25:32,19,25,32,7,22
2,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Lameystr. 7,76185 Karlsruhe,bft,1.719,76185,Karlsruhe,19:25:32,19,25,32,7,31
3,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Fettweisstr. 8,76189 Karlsruhe,bft,1.719,76189,Karlsruhe,19:25:32,19,25,32,7,18
4,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Waldhorn Str. 14-16,76137 Karlsruhe,ZG Raiffeisen Energie,1.719,76137,Karlsruhe,19:25:32,19,25,32,7,48

In [22]:
current_date = date.today().strftime("%Y-%m-%d")
df.head()

,Uhrzeit,Datum,Region,Strasse,Ort_PLZ,Tankstelle,Preis,PLZ,Ort,Zeit,Stunde,Minute,Sekunde,Wochentag,ID
0,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Eichelbergstr. 34,76189 Karlsruhe,Supermarkt Tankstelle,1.699,76189,Karlsruhe,19:25:32,19,25,32,7,15
1,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Hardeckstr. 16,76185 Karlsruhe,"Eberhardt, Hardeckstraße, Karlsruhe",1.709,76185,Karlsruhe,19:25:32,19,25,32,7,22
2,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Lameystr. 7,76185 Karlsruhe,bft,1.719,76185,Karlsruhe,19:25:32,19,25,32,7,31
3,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Fettweisstr. 8,76189 Karlsruhe,bft,1.719,76189,Karlsruhe,19:25:32,19,25,32,7,18
4,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Waldhorn Str. 14-16,76137 Karlsruhe,ZG Raiffeisen Energie,1.719,76137,Karlsruhe,19:25:32,19,25,32,7,48

In [23]:
df.to_csv(f'../data/prepared/prepared_{current_date}.csv')