In [1]:
import pandas as pd

In [2]:
df  = pd.read_csv("../spritpreise.csv")
df.head()

,Datum,Uhrzeit,Region,Strasse,Ort_PLZ,Tankstelle,Preis
0,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Eichelbergstr. 34,76189 Karlsruhe,Supermarkt Tankstelle,1.699
1,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Hardeckstr. 16,76185 Karlsruhe,"Eberhardt, Hardeckstraße, Karlsruhe",1.709
2,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Lameystr. 7,76185 Karlsruhe,bft,1.719
3,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Fettweisstr. 8,76189 Karlsruhe,bft,1.719
4,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Waldhorn Str. 14-16,76137 Karlsruhe,ZG Raiffeisen Energie,1.719

In [6]:
df[["PLZ","Ort"]] = df["Ort_PLZ"].str.split(' ',1, expand =True)
df.head()

,Datum,Uhrzeit,Region,Strasse,Ort_PLZ,Tankstelle,Preis,PLZ,Ort
0,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Eichelbergstr. 34,76189 Karlsruhe,Supermarkt Tankstelle,1.699,76189,Karlsruhe
1,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Hardeckstr. 16,76185 Karlsruhe,"Eberhardt, Hardeckstraße, Karlsruhe",1.709,76185,Karlsruhe
2,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Lameystr. 7,76185 Karlsruhe,bft,1.719,76185,Karlsruhe
3,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Fettweisstr. 8,76189 Karlsruhe,bft,1.719,76189,Karlsruhe
4,2023-07-02 19:25:32,2023-07-02,76135+Karlsruhe%2FBeiertheim,Waldhorn Str. 14-16,76137 Karlsruhe,ZG Raiffeisen Energie,1.719,76137,Karlsruhe

In [17]:
df.groupby(by=["Ort","Datum"]).mean().sort_values(by = 'Preis', ascending= False)

                                          Preis
Ort                        Uhrzeit
Ettlingen                  2023-07-02  1.819000
                           2023-07-03  1.818000
Karlsruhe                  2023-07-03  1.794067
Rheinstetten               2023-07-03  1.786500
Knielingen                 2023-07-03  1.776500
Rheinstetten               2023-07-02  1.759000
Karlsruhe                  2023-07-02  1.750942
Landau in der Pfalz        2023-07-03  1.746802
                           2023-07-02  1.743286
Knielingen                 2023-07-02  1.729000
Neustadt an der Weinstraße 2023-07-03  1.725731
                           2023-07-02  1.711941
Bornheim                   2023-07-03  1.695667